body {
	background-color: #1e1e1e;
	height: 100vh;
	width: 100vh;
	margin: 0 auto;
	font-family: Consolas, "courier new";
}

.game-container {
	margin: 0 auto;
	max-width: 400px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: white;
}

.info-container {
	display: flex;
	align-items: center;
	gap: 16px;
}

.score-container {
	display: flex;
	align-items: center;
}

.new-hi-score {
	color: #a2cf6e;
}

.hi-score-container {
	color: #618833;
	display: flex;
	align-items: center;
}

#snake-canvas {
	background-color: rgb(69, 69, 69);
}

.game-controls {
	margin: 16px 0;
}

.btn-start {
	font-size: 16px;
	background: white;
	color: black;
	border: 3px solid black !important;
	border-radius: 0;
	box-shadow: 2px 2px black, 3px 3px white;
	padding: 20px;
}

.btn-start:hover {
	color: black;
	background: rgb(125, 125, 125);
	cursor: pointer;
}
